/*.tree-browser {*/
/*overflow: auto;*/
/*}*/
/*.file-viewer {*/
/*padding-left: 50px;*/
/*overflow: auto;*/
/*}*/
/*.jstree-custom-folder {*/
/*background-image: url('../imgs/folder.png') !important;*/
/*background-position: 0 !important;*/
/*}*/
/*.jstree-custom-file {*/
/*background-image: url('../imgs/file.png') !important;*/
/*background-position: 0 !important;*/
/*}*/

html, body {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.tab_editors {
    height: 30px;
    width: 100px;
    border: 1px solid #000;
    border-bottom-color: transparent;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    position: relative;
    margin: 2px;
}

.close_tab {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.split-pane-divider {
    background: #aaa;
    height: 800px;
    width: 5px;
    float: left;
    cursor: col-resize;
}

.file-viewer {
    position: relative;
}

/*.editor {*/
    /*height: 500px;*/
/*}*/

.CodeMirror {
    height: 800px;

}

.ideview {
    width: 100%;
}
.tree-browser {
    width: 20%;
    display: inline-block;
    overflow: auto !important;
    height: 800px;
}

.file-viewer {
    width: 70%;
    display: inline-block;
    height: 500px;
    padding: 0 !important;
}

.jstree-rename-input {
    width: auto !important;
    /*height: 20px !important;*/
    /*line-height: 20px !important;*/
    /*position: relative;*/
    /*z-index: 1000;*/
    color: black !important;
}

.cursor-name {
    position: absolute;
    padding: 2px;
}

.breakpoints {
    width: .8em;
}

.breakpoint {
    color: #822;
}

.vakata-context {
    z-index: 500;
}